body {
  color: white;
  font-size: 2rem;
  font-family: 'Nunito', sans-serif; }

.section-1 {
  background-image: url("../images/hero-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 800px;
  padding: 80px 0; }
  .section-1 .section1-wrapper {
    padding: 0 40px; }

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-content: stretch; }
  .nav-bar .menu {
    font-size: 1.2em; }
