@mixin image-background($imgName, $attachment: scroll){
    background:{
        image: url(../images/#{$imgName}.jpg);
        repeat: no-repeat;
        position: center;
        size: cover;
        attachment: $attachment;
    }
}

@mixin flexBox($justify: flex-start, $align: stretch, $wrap: nowrap){
    display: flex;
    justify-content: $justify;
    align-content: $align;
    flex-wrap: $wrap;
}


body{
    color: white;
    font-family: 'Nunito', sans-serif;
}

.section-1{
    @include image-background("hero-01");
    overflow: auto;
    height: 100%;
    width: 100%;
    min-height: 800px;
    padding: 80px 0;
    font-size: 2rem;

    .section1-wrapper{
        padding:0 40px;

        .section1-content{
            margin: 350px 0 0;
            @include flexBox($wrap: wrap);

            h1{
                font-size: 3em;
            }

            a{
                font-size: 1.5em;
                padding: 1em;
                margin-top: 50px;
                border: 5px solid white;
                border-radius: 5px;
            }
        }
    }

}

.nav-bar{
    @include flexBox(space-between);

    .menu{
        @include flexBox();

        h3{
            font-size: 1.2em;
            margin-right: 50px;
        }

        span{
            content:"";
            width: 2em;
            height: 8px;
            background: white;
            border-radius: 5px;
            box-shadow:
            0 .6em 0 0 white,
            0 1.2em 0 0 white;
        }
    }
}


.fadeInDown{
    -webkit-animation: fadeInDown 2s;
}

.fadeInUp{
    -webkit-animation: fadeInUp 2s;
}

@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }

    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }

    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}
