@mixin image-background($imgUrl, $attachment: scroll){
    background:{
        image: url($imgUrl);
        repeat: no-repeat;
        position: center;
        size: cover;
        attachment: $attachment;
    }
}

@mixin flexBox($justify: flex-start, $align: stretch){
    display: flex;
    justify-content: $justify;
    align-content: $align;
}

//place in container element
@mixin menu-burger(){
    width: 100%;
    height: 100%;
    //&:before -> box-shadow

}

body{
    color: white;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
}

.section-1{
    @include image-background("../images/hero-01.jpg");
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 800px;
    padding: 80px 0;


    .section1-wrapper{
        padding:0 40px;
    }

}

.nav-bar{
    @include flexBox(space-between);

    .menu{
        font-size: 1.2em;
    }

}
